<style>
        body, input{
            font-family: sans-serif;
        }

        form{
            width: 40%;
            margin: 0 auto;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            border: 1px solid silver;
            border-radius: 16px;
            background-color: whitesmoke;

        }

        form h2{
            margin: 0;
            padding: 0;
        }
        form div{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        form label{
            margin-bottom: 8px;
        }

        form label::after{
            content: " *";
            color: red;
        }

        form input{
            font-size: medium;
        }

        form div input{
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        form input[type="button"]{
            margin-top: 8px;
            padding: 8px;
            border-radius: 100px;
            background-color: blueviolet;
            border: none;
            outline: none;
            color: white;
            font-size: medium;
            letter-spacing: 0.05rem;
        }
        /* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
  }

        /* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: medium;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
    </style>